#printPdf .btn-smash {
    display: table;
    margin: 10px auto 0px;
    color: #fff !important;
    font-size: 16px;
    cursor: pointer;
}

.box-simple.box-radius.active {
    background: #f15a24;
}
.box-simple.box-radius.active * {
    color: #fff;
}
.box-simple.box-radius.active .checkmark {
    background: white;
}
.box-simple.box-radius.active .checkmark:after {
    border-color: #f15a24;
}
.ie #obj-form {
    justify-content: flex-start;
}

.box-porcentege {
    display: table;
    width: 100%;
    margin-top: 10px;
}
.box-porcentege .colm-orange {
    background: #ee4f21;
    color: #fff;
}
.propuestaGrafica .box-porcentege > .cop, .propuestaGrafica .box-porcentege > .usd {
    padding: 1px !important;
    text-align: center;
}
.box-porcentege [class*="colm"] {
    padding: 0 !important;
}
.box-porcentege .colm-gray {
    background: #616466;
    color: #fff;
}
.box-range {
    display: flex;
    margin: 15px 0px;
    justify-content: center;
}    
.box-range .colorSet {
    display: table;
    padding: 0px !important;
}
.box-range .colorSet > div {
    height: 25px;
    width: 25px;
}
.box-range .cosl-gd.titl-orange{
    background: #ee4f21;
    color: #fff;
    padding: 4px 10px;
}
.box-range .cosl-gd {
    background: #b7b7b7;
    padding: 4px 10px 4px 25px !important;
    font-size: 12px;
    color: #fff; 
}
.box-range .min-cosl {
    margin: 0 2px;
}
.box-range .colorSet .cosl-orange {
    background: #b0c3c6;
}
.box-range .colorSet .cosl-gray {
    background: #ee4f21;
}
.box-range .colorSet .cosl-green {
    background: #757575;
}
/***********/
.box-range .colorSet .cosl-blue {
    background: #616466;
}
.box-range .colorSet .cosl-brown {
    background: #A7B437;
}
.box-range .colorSet .cosl-yellow {
    background: #ee4f21;
}
.box-range .colorSet .cosl-purple {
    background: #557630;
}
.box-range .colorSet .cosl-sky-blue {
    background: #C81B1B;
}

/****/
.mt-20 {
    margin-top: 20px;
}
#chartContainer {
    margin-top: 15px;
}
/* input range */


.slidecontainer {
  width: 100%;
  margin-bottom: 20px;
}

.sliders {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: #666;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 20px;
}

.slider-gradient{
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
background: rgba(75,166,101,1);
background: -moz-linear-gradient(left, rgba(75,166,101,1) 0%, rgba(143,197,62,1) 52%, rgba(209,118,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(75,166,101,1)), color-stop(52%, rgba(143,197,62,1)), color-stop(100%, rgba(209,118,0,1)));
background: -webkit-linear-gradient(left, rgba(75,166,101,1) 0%, rgba(143,197,62,1) 52%, rgba(209,118,0,1) 100%);
background: -o-linear-gradient(left, rgba(75,166,101,1) 0%, rgba(143,197,62,1) 52%, rgba(209,118,0,1) 100%);
background: -ms-linear-gradient(left, rgba(75,166,101,1) 0%, rgba(143,197,62,1) 52%, rgba(209,118,0,1) 100%);
background: linear-gradient(to right, rgba(75,166,101,1) 0%, rgba(143,197,62,1) 52%, rgba(209,118,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba665', endColorstr='#d17600', GradientType=1 );
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
    border-radius: 50px;
    margin-top: 40px;
}

.sliders:hover, .slider-gradient:hover {
  opacity: 1;
}

.sliders::-webkit-slider-thumb, .slider-gradient::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 2%, rgba(65,85,77,1) 71%, rgba(65,85,77,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(250,250,250,1)), color-stop(71%, rgba(65,85,77,1)), color-stop(100%, rgba(65,85,77,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 2%, rgba(65,85,77,1) 71%, rgba(65,85,77,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 2%, rgba(65,85,77,1) 71%, rgba(65,85,77,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 2%, rgba(65,85,77,1) 71%, rgba(65,85,77,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 2%, rgba(65,85,77,1) 71%, rgba(65,85,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#41554d', GradientType=1 );
  cursor: pointer;
  border-radius: 50%;
}

.slider-gradient::-webkit-slider-thumb{
  width: 25px;
  height: 25px;    
}

.sliders::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

/* fin range */

.top-sp {
    margin-top: 40px !important;
}
.icon-ranges {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-ranges span {
    font-size: 40px;
    margin: 0 10px;
    position: relative;
    top: 8px;
    color: #ee4f21;
    cursor: pointer;
}
.slidecontainer .text-sm {
    font-weight: 100;
}

.btn-step div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ee4f21;
    margin: 0 15px;
    font-size: 1em;
    cursor: pointer;
}

.btn-step div span {
    color: #ee4f21;
    font-size: 60px;
    cursor: pointer;
}

.btn-inactive{
    opacity: .5;
    pointer-events: none;
}
#chartContainers:after {
    content: "";
    background: white;
    width: 100%;
    height: 13px;
    display: block;
    position: absolute;
    bottom: 0;
}
.propuestaGrafica .layout-full{
	max-width: 1024px;
}
.graficas .text-center .semi {
    margin-bottom: 20px;
}
.simulationsec{
	text-align : justify;
	font-size:  8px;
	margin-bottom: -2% !important;
}
#display{
	margin-left: 2%;
}
#show-display{
	cursor: pointer;
}
#display ul{
	list-style-type: disc !important;
    font-size: small;
    font-size:  8px;
}
.advance-row{
	text-align : center;
	font-weight: bold;
    margin: 34px 10px -35px 10px !important;	
}
.coins{
	margin-top: -40px !important;
}
.expected-rent{
    padding: 7px 0px 10px 0px !important;
    font-size: 19px;
}
.m-10{
	margin: 10px 10px 10px 10px;
}
.num-mask{
	text-align: center;
}
.valCheck{
	font-size: 17px;
}
#printPdf.hiden-other {
    padding: 0;
}
#printPdf.hiden-other .center-complement .col-xs-12 {
    padding: 0;
}

#printPdf.hiden-other .hidepdf{
   display: none !important;
}   
#printPdf.hiden-other .propuestaGrafica .layout-full{
   max-width: 100%;
}
#printPdf.hiden-other {
    padding: 0;
    background: #fff;
    max-width: 960px;
}
#printPdf.hiden-other .centerMob {
    margin-right: 20px;
}

.propuestaGrafica .titleOr span{
    font-family: BandaSemi;
}
.propuestaGrafica .titleOr.estandar span{
	color: #ee4f21;
}
.date{
	font-size: 10px;
    text-align: end;
    background: white;
}
.img-luis{
  width: 100%;
}
.secondary-text {
    color: rgb(238, 79, 33) !important;
}
.font-medium {
    font-weight: 600 !important;
}
.text-size-31 {
    font-size: 2.6rem !important;
}
.success-button {
    text-align: center;
    font-size: 1.35rem;
    color: rgb(255, 255, 255) !important;
    width: 100%;
    padding: 1rem 3rem;
    background: rgb(241, 90, 36)!important;
    border-radius: 0.5rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.line{
	width: 97%;
	height: 4%;
	border-bottom: 1px solid #9c9494;
	position: absolute;
	margin-top: 2%;
}
.mt-3p{
	margin-top: 3%;	
}
.mt-4p{
	margin-top: 4%;
}
